body{
  margin:auto;
  text-align:center;
  background: #CEB992;
}
header{
  font-size:25px;
  font-family: 'Bebas Neue', cursive;
  color:#171A21;
}
div.quadrado{
  height:300px;
  width:300px;
  margin:10px;
  border-radius:5px;
  border:2px solid #171A21;
  display:inline-block;
}
div#q1{
  background-image:linear-gradient(to bottom, #EF476F, #FFD166);
}
div#q2{
  background-image:conic-gradient(#06D6A0, #118AB2);
}
div#q3{
  background-image:radial-gradient(#92BCEA, #171A21);
}
div#q4{
 background-image:url(https://i.pinimg.com/564x/c8/b2/d2/c8b2d25d178890c9a20a45f67a15a7d4.jpg);
 background-size: cover; 
}
div#q5{
 background-image:url(https://i.pinimg.com/564x/b7/a6/ad/b7a6ad5e7a1acc574a92edb91564392d.jpg);
 background-size:100px 100px;
  
}

