.bloco {
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  background-image: url(https://i.pinimg.com/564x/83/5e/20/835e20465ebab78729cc86e1b632a5a0.jpg);
}
#q1 {
  background-position: left top;
}
#q2 {
  background-position: left center;
}
#q3 {
  background-position: left bottom;
}
#q4 {
  background-position: center center;
}
