@charset "utf-8";
@font-face {
    font-family:'love';
    src: url('fonts/lovestory.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    font-size: 1em;
    color: black;
}
h1{
    font-family: 'love';
    font-size: 2em;
}
h2{
    font-family: 'love';
}