@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root{
  --cor1:#dda15e;
  --cor2:#fefae0;
  --cor3:#283618;
  --cor4:#606c38;
  --font-padrão:'Roboto', sans-serif;
  --font-titulo:'League Gothic', sans-serif;;
}
*{
  margin: 0;
  padding: 0;
  font-family: var(--font-padrão);
}
body{
  background-color: var(--cor2);
}
header{
  background-color: var(--cor4);
  margin: auto;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
header h1{
  font-size: 2em;
  text-transform: uppercase;
  color: var(--cor2);
  display: flex;
  align-items: center;
}
header h1 img{
  width: 30px;
  height: 30px;
  padding: 8px;
}
nav{
  background-color: var(--cor3);
  text-align: center;
  padding: 10px;
}
nav a{
  color: var(--cor2);
  text-decoration: none;
  padding: 10px;
}
nav a:hover{
  background-color: var(--cor4);
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  padding: 15px;
  animation: 2s;
}
main{
  box-shadow: 1px 1px 3px var(--cor4);
  margin: auto;
  max-width: 800px;
  height: 700px;
  padding: 10px;
}
h1{
  color: var(--cor1);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
p{
  color: var(--cor3);
  font-weight: 700;
}

.codigo05  h2{
  margin: 20px;
  color: var(--cor4);
}
.codigo05 .apresentacao-imagem{
  border-radius: 50%;
  width: 25%;
  margin: 10px;
  box-shadow: 1px 1px 2px var(--cor3);
}
.codigo05 .apresentacao div{
  display: flex;
  align-items: center;
  padding: 10px;
  text-indent: 15px;
  color: var(--cor3);
}
.codigo05 .apresentacao div>p{
  padding: 20px;
  font-weight: 400;
}
.codigo05 .links{
  padding: 10px;
  text-indent: 15px;
  color: var(--cor3);
  
}
.codigo05 .links ul{
  list-style: none;
  color: var(--cor3);
}
.codigo05 .links ul a{
  text-decoration: none;
  text-indent: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 10px; 
  margin-left: 40px;
}
.codigo05 .links ul li {
   display: flex;
   align-items: center;
    align-content: center;
}
.codigo01 p{
  background-color: var(--cor1);
  border-radius: 15px;
  width: 50%;
  padding: 20px;
  color: var(--cor3);
  margin: 50px;
  font-weight: 700;
}

.codigo02 p{
  display: flex;
  margin: 50px;
  background-color: var(--cor1);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}
.codigo02 p img{
  background-color: var(--cor2);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px;
  padding: 10px;
}
.codigo03 div{
  margin-left: 20% ;
  padding: 10px;

}
