body{
background-color: #85d1d6;
}
div{
  margin:7px;
}
.eye{
    height: 50vh;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/7f/Bright_anime_eyes.png);
  background-size:100px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.mouth{
  height:50vh;
  background-image:url(https://www.pngmart.com/files/Anime-Mouth-PNG-HD-Isolated.png);
  background-size:100px;
  background-repeat: no-repeat;
  background-position: center top;
}